body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.header-section{
    background-image: url('../images/donation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 90vh;
    
}
.container{
    color:#ffffff;
    width: 60%;
    margin:auto;
    text-align: center;
}
.container h2{
    margin: 0;
    font-size: 75px;
    padding-top: 200px;
}
.container p{
    font-size: 18px;
    padding: 30px;
    font-weight: 300;
}
.container a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(7, 166, 230);
    color:#fff;
    border-radius: 5px;
}

/* Donate Today Part  */
.donate-today{
    width:80%;
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.donate-today h3{
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 35px;
}
.donate-today p{
    font-size: 18px;
}
.donate-today input{
    border: none;
    font-size: 25px;
   text-align: center;
}
.donate-today .amount{
    padding: 15px 25px;
    background: rgba(233, 231, 231, 0.562);
    margin:5px;
    border-radius: 3px;
    font-weight: 600;
}
.donate-today .fix{
    border: 1px solid goldenrod;
    background-color: rgb(15, 171, 233);
    color:gold;
}
.donate-today a{
    margin-top: 25px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(7, 166, 230);
    color:#fff;
    border-radius: 5px;
}